.page-title {
  text-align: center;
  font-size: 80px;
  margin: 80px 0 20px;
}

.fundhub-logo {
  display: inline-block;
  margin-left: 10px;
}

.fundhub-logo .fund {
  background-color: black;
  color: white;
  padding: 3px 12px;
}

.fundhub-logo .hub {
  background-color: orange;
  color: black;
  padding: 3px 12px;
}

.cards-container {
  display: flex;
  justify-content: center;
  gap: 50px;
  margin: 70px auto;
  max-width: 1500px;
}

.card {
  background: #fff;
  border-radius: 8px;
  box-shadow: 0 4px 12px rgba(0,0,0,0.1);
  padding: 20px;
  flex: 1;
  text-align: center;
  transition: transform 0.2s ease;
}

.card:hover {
  transform: translateY(-5px);
}

.card h2 {
  color: #333;
  margin-bottom: 10px;
  font-size: 55px;
}

.card p {
  color: #555;
  font-size: 30px;
  line-height: 1.4;
}

.transparency-card-icon {
  width: 120px;       /* adjust size as needed */
  height: auto;
  margin-top: 40px;
}

.fair-card-icon {
  width: 120px;       /* adjust size as needed */
  height: auto;
  margin-top: 40px;
}

.community-card-icon {
  width: 120px;       /* adjust size as needed */
  height: auto;
  margin-top: 40px;
}