body {
    background: linear-gradient(to right, #f7f0f2, #e3f2fd);
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.card {
    background-color: #fff;
    padding: 0px 70px 50px 70px;
    border-radius: 10px;
    box-shadow: 0 4px 12px rgba(0,0,0,0.1);
    text-align: center;
    width: 400px;
}

h2 {
    margin-bottom: 10px;
    color: #333;
    font-size: 60px;
}

p.subtitle {
    margin-top: 0;
    margin-bottom: 20px;
    color: #666;
    font-size: 30px;
}

input {
    width: 100%;
    padding: 12px 20px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 6px;
    font-size: 30px;
    box-sizing: border-box;
}

#registerButton {
    width: 100%;
    padding: 12px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 6px;
    font-size: 30px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    box-sizing: border-box;
}

#registerButton:hover {
    background-color: #45a049;
}

#status {
    margin-top: 15px;
    font-size: 30px;
    color: #444;
}

.login-link {
    margin-top: 20px;
    font-size: 14px;
}

.login-link a {
    color: #2196f3;
    text-decoration: underline;
    cursor: pointer;
    font-size: 30px;
}